<!DOCTYPE html>
<html>

<head>
  <title>D3 - C4.5</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./../styles/bootstrap.min.css">
  <link rel="stylesheet" href="./../treant-js/Treant.css" type="text/css" />
  <link rel="stylesheet" href="./../styles/style.css">
  <script src="./../scripts/plotly-latest.min.js"></script>
</head>

<body id="background">
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between sticky-top">
    <a class="navbar-brand text-dark ml-2"><b>Decision Tree C4.5</b></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav d-none" id="navbar">
        <li class="nav-item active" id="nav-arbol" onclick="showArbol()">
          <a class="nav-link" href="#">Árbol Generado</a>
        </li>
        <li class="nav-item" id="nav-puntos" onclick="showPuntos()">
          <a class="nav-link" href="#">Distribución de Puntos</a>
        </li>
        <li class="nav-item" id="nav-test" onclick="showTest()">
          <a class="nav-link" href="#">Probar Modelo</a>
        </li>
        <li class="nav-item" id="nav-info" onclick="showInfo()">
          <a class="nav-link" href="#">Estadísticas</a>
        </li>
      </ul>
    </div>
    <input type="button" class="btn btn-primary btn-large mr-2 d-none" value="Reiniciar" id="reset" onclick="reset()" />
  </nav>
  <!-- !NavBar -->

  <div class="p-4">

    <!-- Carga CSV Entrenamiento -->
    <div id="csv-entrenamiento" class="card mt-4">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Cargar Dataset de Entrenamiento</b></h1>
      </div>
      <div class="card-body">

        <div class="alert alert-info" role="alert">
          <li>El dataset deberá estar en formato CSV.</li>
          <li>La primer fila debe corresponder a los nombres de los atributos.</li>
          <li>La primer columna deberá corresponder al ID del registro.</li>
          <li>La última columna deberá corresponder a la Clase del registro.</li>
        </div>

        <div id="selection-form" class="form-row m-4">
          <div class="form-group col-md-6">
            <input type="text" placeholder="Por favor, seleccione un archivo" class="form-control input-small"
              id="actual-file" disabled="disabled" />
          </div>
          <div class="form-group col-md-6">
            <input type="button" class="btn btn-primary btn-large" value="Seleccionar Archivo" id="select-file" />
          </div>
        </div>

      </div>
    </div>
    <!-- !Carga CSV Entrenamiento -->

    <!-- Gráfico de Puntos -->
    <div id="distribucion-de-puntos" class="card mt-4 d-none">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Distribución de Puntos</b></h1>
      </div>
      <div class="card-body">
        <div id="chart" class=""></div>
      </div>
    </div>
    <!-- !Gráfico de Puntos -->

    <!-- Gráfico de Árbol -->
    <div id="arbol" class="card mt-4 d-none">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Árbol Generado</b></h1>
      </div>
      <div class="card-body">
        <div id="tree-simple" class="m-4"></div>
      </div>
    </div>
    <!-- !Gráfico de Árbol -->

    <!-- Carga CSV Test -->
    <div id="csv-test" class="card mt-4 d-none">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Cargar Dataset de Prueba</b></h1>
      </div>
      <div class="card-body">

        <div class="alert alert-info" role="alert">
          <li>El dataset deberá estar en formato CSV.</li>
          <li>La primer fila debe corresponder a los nombres de los atributos.</li>
          <li>La primer columna deberá corresponder al ID del registro.</li>
          <li>La última columna deberá corresponder a la Clase del registro.</li>
        </div>

        <div id="selection-form-test" class="form-row d-none">
          <div class="form-group col-md-6">
            <input type="text" placeholder="Por favor, seleccione un archivo" class="form-control input-small"
              id="actual-file-test" disabled="disabled" />
          </div>
          <div class="form-group col-md-6">
            <input type="button" class="btn btn-primary btn-large" value="Seleccionar Archivo" id="select-file-test" />
          </div>
        </div>
        <!-- Exactitud -->
        <div id="resultado-test" class="form-row d-none">
          <h1 id="cantCasos" class="form-group col-md-12">Cantidad de Casos de Test: - </h1>
          <h1 id="cantCorrectas" class="form-group col-md-12">Cantidad de clasificaciones correctas: - </h1>
          <h1 id="exactitud" class="form-group col-md-12">Exactitud: - </h1>
        </div>
        <!-- !Exactitud -->

      </div>
    </div>
    <!-- !Carga CSV Test -->

    <!-- Estadísticas -->
    <div id="info" class="card mt-4 d-none">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Estadísticas</b></h1>
      </div>
      <div class="card-body">

        <div class="alert alert-info" role="alert">
          <p>El tiempo de ejecución y uso de memoria corresponden únicamente a la ejecución del script de clasificación.</p>
        </div>


        <div id="" class="form-row">
          <h1 id="cantRegistros" class="form-group col-md-12"></h1>
          <h1 id="tiempoEjec" class="form-group col-md-12"></h1>
          <h1 id="usoMemoria" class="form-group col-md-12"></h1>
        </div>


      </div>
    </div>
    <!-- !Estadísticas -->

  </div>

  <script src="./../treant-js/vendor/jquery.min.js"></script>
  <script src="./../treant-js/vendor/jquery.easing.js"></script>
  <script src="./../treant-js/vendor/raphael.js"></script>
  <script src="./../treant-js/Treant.js"></script>
  <script src="../scripts/clases.js"></script>
  <script src="../scripts/decisionTreeCont.js"></script>
  <script src="../scripts/plotPoints.js"></script>
  <script src="../scripts/navegacion.js"></script>
  <script src="../scripts/main.js"></script>
  <script src="../scripts/estadisticas.js"></script>
</body>


</html>