<!DOCTYPE html>
<html>

<head>
  <title>D3 - C4.5</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./../styles/bootstrap.min.css">
  <link rel="stylesheet" href="./../treant-js/Treant.css" type="text/css" />
  <link rel="stylesheet" href="./../styles/style.css">
  <script src="./../scripts/plotly-latest.min.js"></script>
</head>

<body id="background">
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between sticky-top">
    <a class="navbar-brand text-dark ml-2"><b>Decision Tree C4.5</b></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav d-none" id="navbar">
        <li class="nav-item active" id="nav-arbol" onclick="showArbol()">
          <a class="nav-link" href="#">Árbol Generado</a>
        </li>
        <li class="nav-item" id="nav-puntos" onclick="showPuntos()">
          <a class="nav-link" href="#">Distribución de Puntos</a>
        </li>
        <li class="nav-item" id="nav-test" onclick="showTest()">
          <a class="nav-link" href="#">Probar Modelo</a>
        </li>
        <li class="nav-item" id="nav-clasify" onclick="clasifyPoint()">
          <a class="nav-link" href="#">Clasificar Punto</a>
        </li>
        <li class="nav-item" id="nav-info" onclick="showInfo()">
          <a class="nav-link" href="#">Estadísticas</a>
        </li>
      </ul>
    </div>
    <input type="button" class="btn btn-primary btn-large mr-2 d-none" value="Reiniciar" id="reset" onclick="reset()" />
  </nav>
  <!-- !NavBar -->

  <div class="p-4">

    <!-- Carga CSV Entrenamiento -->
    <div id="csv-entrenamiento" class="card mt-4">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Cargar Dataset de Entrenamiento</b></h1>
      </div>
      <div class="card-body">

        <div class="alert alert-info m-4" role="alert">
          <li>El dataset deberá estar en formato CSV.</li>
          <li>La primer fila debe corresponder a los nombres de los atributos.</li>
          <!-- <li>La primer columna deberá corresponder al ID del registro.</li> -->
          <li>La última columna deberá corresponder a la Clase del registro.</li>
        </div>

        <div class="form-row m-4">
          <div class="form-group col-md-6">
            <label for="calculateUsing">Generar Modelo Utilizando</label>
            <select class="form-control input-small" id="calculateUsing">
              <option value="gain" selected>Ganancia de Información</option>
              <option value="gainRatio">Tasa de Ganancia de Información</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="threshold">Umbral de Ganancia (Threshold)</label>
            <input id="threshold" type="number" min="0" max="1" step="0.00001" value="0"
              class="form-control input-small">
          </div>
        </div>

        <div id="selection-form" class="form-row m-4">
          <div class="form-group col-md-6">
            <input type="text" placeholder="Por favor, seleccione un archivo" class="form-control input-small"
              id="actual-file" disabled="disabled" />
          </div>
          <div class="form-group col-md-6">
            <input type="button" class="btn btn-primary btn-large" value="Seleccionar Archivo" id="select-file" />
          </div>
        </div>
        <!-- Pruebas -->

        <!-- !Pruebas -->
      </div>
    </div>
    <!-- !Carga CSV Entrenamiento -->

    <!-- Gráfico de Árbol -->
    <div id="arbol" class="card mt-4 d-none">
      <div class="card-header d-flex justify-content-between">
        <h1 class="form-group mt-3"><b>Árbol Generado</b></h1>
        <input type="button" class="btn btn-primary btn-large d-none" value="Colapsar/Contraer Todo"
          id="colapsar-contraer" onclick="colapsar_contraer()" />
      </div>
      <div class="card-body">
        <div id="cargando" class="">
          <div class="col-md-12 m-4 d-flex justify-content-center">
            <div class="loader"></div>
          </div>
          <div class="col-md-12 m-4 d-flex justify-content-center">
            <div>
              <h1 class="col-md-12">Generando modelo, por favor espere.</h1>
            </div>
          </div>
        </div>
        <div id="step-by-step" class="d-none">
          <div class="d-flex justify-content-center">
            <h1 class="mt-3">Paso</h1>
            <input id="iptActual" type="number" class="form-control col-md-2 ml-1 mr-1" min="1"
              onchange="redibujarArbol(this.value)">
            <h1 class="mt-3">De</h1>
            <input id="iptTotal" type="number" class="form-control col-md-2 ml-1 mr-1" disabled>
            <input id="btnAnterior" type="button" class="btn btn-outline-primary ml-1 mr-1" value="Anterior"
              onclick="anterior()">
            <input id="btnSiguiente" type="button" class="btn btn-outline-primary ml-1 mr-1" value="Siguiente"
              onclick="siguiente()" disabled>
          </div>
        </div>
        <div id="tree-simple" class="m-4 d-none"></div>
      </div>
    </div>
    <!-- !Gráfico de Árbol -->

    <!-- Gráfico de Puntos -->
    <div id="distribucion-de-puntos" class="card mt-4 d-none">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Distribución de Puntos</b></h1>
      </div>
      <div class="card-body">
        <div id="partitions" class="mb-2">
          <div class="d-flex justify-content-center">
            <h1 class="mt-3">Paso</h1>
            <input id="partActual" type="number" class="form-control col-md-2 ml-1 mr-1" min="0"
              onchange="redibujarPuntos(this.value)">
            <h1 class="mt-3">De</h1>
            <input id="partTotal" type="number" class="form-control col-md-2 ml-1 mr-1" disabled>
            <input id="btnPartAnterior" type="button" class="btn btn-outline-primary ml-1 mr-1" value="Anterior"
              onclick="partAnterior()">
            <input id="btnPartSiguiente" type="button" class="btn btn-outline-primary ml-1 mr-1" value="Siguiente"
              onclick="partSiguiente()" disabled>
          </div>
        </div>
        <div id="chart" class=""></div>
        <div class="alert alert-info m-4" role="alert">
          <li>Las rectas verticales corresponden a la clase de los puntos a la izquierda de la misma.</li>
          <li>Las rectas horizontales corresponden a la clase de los puntos por debajo de la misma.</li>
        </div>
      </div>
    </div>
    <!-- !Gráfico de Puntos -->

    <!-- Carga CSV Test -->
    <div id="csv-test" class="card mt-4 d-none">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Cargar Dataset de Prueba</b></h1>
      </div>
      <div class="card-body">

        <div class="alert alert-info m-4" role="alert">
          <li>El dataset deberá estar en formato CSV.</li>
          <li>La primer fila debe corresponder a los nombres de los atributos.</li>
          <!-- <li>La primer columna deberá corresponder al ID del registro.</li> -->
          <li>La última columna deberá corresponder a la Clase del registro.</li>
        </div>

        <div id="selection-form-test" class="form-row d-none m-4">
          <div class="form-group col-md-6">
            <input type="text" placeholder="Por favor, seleccione un archivo" class="form-control input-small"
              id="actual-file-test" disabled="disabled" />
          </div>
          <div class="form-group col-md-6">
            <input type="button" class="btn btn-primary btn-large" value="Seleccionar Archivo" id="select-file-test" />
          </div>
        </div>
        <!-- Exactitud -->
        <div id="resultado-test" class="form-row d-none m-4">
          <h1 id="cantCasos" class="form-group col-md-12">Cantidad de Casos de Test: - </h1>
          <h1 id="cantCorrectas" class="form-group col-md-12">Cantidad de clasificaciones correctas: - </h1>
          <h1 id="exactitud" class="form-group col-md-12">Exactitud: - </h1>
          <br><br>
          <h1 id="" class="form-group col-md-12">Detalle de Clasificaciones Incorrectas</h1>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>X</th>
                <th>Y</th>
                <th>Clase</th>
                <th>Clase Predicha</th>
              </tr>
            </thead>
            <tbody id="tbody">
              <tr>
                <td>7</td>
                <td>5</td>
                <td>true</td>
                <td>false</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- !Exactitud -->

      </div>
    </div>
    <!-- !Carga CSV Test -->

    <!-- Clasificar Punto -->
    <div id="clasificar-punto" class="card mt-4 d-none">
      <div class="card-header d-flex justify-content-between">
        <h1 class="form-group mt-3"><b>Clasificar Punto</b></h1>
      </div>
      <div class="card-body">
        <div id="cargar-punto" class="">
          <div class="d-flex justify-content-center">
            <h1 class="mt-3">X:</h1>
            <input id="Xcoord" type="number" class="form-control col-md-3 ml-2 mr-2">
            <h1 class="mt-3">Y:</h1>
            <input id="Ycoord" type="number" class="form-control col-md-3 ml-2 mr-2">
            <input id="btnClasificar" type="button" class="btn btn-outline-primary ml-1 mr-1" value="Clasificar"
              onclick="clasificar()">
          </div>
        </div>
        <h1 id="classifiedResult" class="m-4 col-md-12"></h1>
        <h1 id="supportAndConfidence" class="m-4 col-md-12"></h1>
        <div id="punto-en-arbol" class="m-4"></div>
      </div>
    </div>
    <!-- !Clasificar Punto -->


    <!-- Estadísticas -->
    <div id="info" class="card mt-4 d-none">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Estadísticas</b></h1>
      </div>
      <div class="card-body">

        <div class="alert alert-info m-4" role="alert">
          <p>El tiempo de ejecución y uso de memoria corresponden únicamente a la ejecución del script de clasificación.
          </p>
        </div>


        <div id="" class="form-row m-4">
          <h1 id="cantRegistros" class="form-group col-md-12"></h1>
          <h1 id="formulaUtilizada" class="form-group col-md-12"></h1>
          <h1 id="thresholdUtilizado" class="form-group col-md-12"></h1>
          <h1 id="tiempoEjec" class="form-group col-md-12"></h1>
          <h1 id="usoMemoria" class="form-group col-md-12"></h1>
        </div>


      </div>
    </div>
    <!-- !Estadísticas -->

  </div>


  <script src="./../treant-js/vendor/jquery.min.js"></script>
  <script src="./../treant-js/vendor/jquery.easing.js"></script>
  <script src="./../treant-js/vendor/raphael.js"></script>
  <script src="./../treant-js/Treant.js"></script>
  <script src="../scripts/clases.js"></script>
  <script src="../scripts/decisionTreeCont.js"></script>
  <script src="../scripts/plotPoints.js"></script>
  <script src="../scripts/navegacion.js"></script>
  <script src="../scripts/main.js"></script>
  <script src="../scripts/colorearNodos.js"></script>
  <script src="../scripts/test.js"></script>
  <script src="../scripts/clasificarPunto.js"></script>
  <script src="../scripts/estadisticas.js"></script>
</body>


</html>